# Starts and stops the Minecraft server on-demand, and autoruns on boot
# After making changes to this file, run "sudo systemctl daemon-reload"
# Enable this unit with "sudo systemctl enable /path/to/minecraft.service"
# Start the server with "sudo systemctl start minecraft.service"
# Stop this server with "sudo systemctl stop minecraft.service"

[Unit]
Description=Minecraft Server System Service
After=local-fs.target network.target

[Service]
# Forking is required if the command in ExecStart returns immediately
Type=forking

# Security preferences
PrivateUsers=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

# Attempt to restart server if a crash is detected (unlikely to work)
Restart=on-failure
RestartSec=60s

# After calling ExecStop, how long to wait before killing the process
TimeoutStopSec=180

# ExecStart and ExecStop will be issued under this user
User=uksc

# Server start/stop scripts.
# Intended for these scripts to interact with the screen session.
WorkingDirectory=/home/uksc/minecraft
ExecStart=/home/uksc/minecraft/systemctl/start_process.sh
ExecStop=/home/uksc/minecraft/systemctl/stop_process.sh 

[Install]
WantedBy=multi-user.target
