# Starts and stops the Minecraft server on-demand, and autoruns on boot
# After making changes to this file, run "systemctl --user daemon-reload"
# Enable this unit with "systemctl enable minecraft"
# Start the server with "systemctl start minecraft"
# Stop this server with "systemctl stop minecraft"

[Unit]
Description=Minecraft Server

[Service]
# Type=oneshot runs each ExecStart in sequence, blocking until each process exits.
Type=oneshot
RemainAfterExit=true

# Security preferences
# PrivateUsers=true
# ProtectSystem=full
# ProtectKernelTunables=true
# ProtectKernelModules=true
# ProtectControlGroups=true

# Attempt to restart server if a crash is detected (unlikely to work)
# Restart=on-failure
# RestartSec=60s

# After calling ExecStop, how long to wait before killing the process
TimeoutStopSec=180

# Server start/stop scripts.
# Intended for these scripts to interact with the screen session.
ExecStart=/bin/bash -c "~/minecraft/systemctl/start_process.sh"
ExecStop=/bin/bash -c "~/minecraft/systemctl/stop_process.sh"

[Install]
WantedBy=default.target
